.footer {
    font-family: cursive;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    padding: 2rem;
}

.footer > p {
    margin: 0.5rem 0;
}

@media only screen and (max-width: 601px) {
    .footer {
        flex-direction: column !important;
        align-items: center;
    }
}