.progress-bar__outer {
  width: 100%;
  height: 8px;
  background-color: var(--progress-bar-outer);
  border-radius: 200px;
}

.progress-bar__inner {
  height: 8px;
  background-color: var(--bg-white-icons-color);
  border-radius: 200px;
  animation: progress 5s infinite alternate;
}

@keyframes progress {
  from {
    width: 0%;
  }
}
